<% provide(:title, '用户登录')%>
<h1>用户登录</h1>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :'邮箱' %>
      <%= f.email_field :email, class: 'form-control'%>

      <%= f.label :'密码' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: 'checkbox inline' do %>
        <%= f.check_box :remember_me %>
        <span>信任该设备,长期保持登录状态</span>
      <% end %>

      <%= f.submit '登录', class: 'btn btn-primary' %>

    <% end %>

    <p class='center mt-10'>
    新用户?<%= link_to '点击注册', signup_path %>
    </p>

  </div>
</div>