<!--
  new页面和edit页面使用了相同的form_for(@micropost)
  Rails是怎么知道创建文章要发送POST请求,修改文章发送PATCH请求:
  是通过Active Record提供的new_record?布尔值方法检测文章是新建的还是已经存在于数据库中.
 -->
<%= form_for(@micropost, html:{multipart: true}) do |f| %>
	<%= render 'shared/error_messages', object: f.object%>
	<div>
		<%= f.text_field :title, style:'background-color:#fcfded;', placeholder: '文章标题'%>
		<%= f.text_area :content, style:'height:379px; background-color:#fcfded;', placeholder: '此刻你在想些什么...'%>
  	<%= f.submit '保存', class: 'btn btn-primary' %>
		<!--使用accept限制文件格式-->
		<%= f.file_field :picture, accept: Goddess.picture.extension_white_list.map{|type| 'image/'+type }.join(',') %>
	</div>
<% end %>

<script type='text/javascript'>
	$('#micropost_picture').bind('change', function(){
		var file_size = this.files[0].size;
		var max_file_size = <%= Goddess.picture.max_size %>;
		var mb_file_size = file_size/1024/1024;
		var mb_max_file_size = max_file_size/1024/1024;
		var alert_word = '图片大小为:' + mb_file_size.toFixed(2) + 'MB,超出了图片上传最大限制:' + mb_max_file_size.toFixed(2) + 'MB.请重新选择图片.'
		if (file_size > max_file_size){
			alert(alert_word);
		}
	});
</script>
